* {
    box-sizing: border-box;
}
html {
    font-family: "helvetica neue", "Courier", "san-serif";
}
body {
    background-color: #ffffff;
    margin: 0;
}
h1, h2 {
    font-size: calc(15px + 1.1vw);
    text-decoration: none;
    color: #000000;
}
a {
    font-size: calc(15px + 1.1vw);
    text-decoration: none;
    color: #000000;
}
p {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-family: "helvetica neue", "Arial", "san-serif";
}
header {
    height: 80px;
    font-size: calc(15px + 1.1vw); /* 0.8em; */
    background-color: #e6e6e6;
}
#header-container {
    width: 86%;
    height: 80px;
    margin: auto;
    position: relative;
    text-align: center;
}
#header-container:after {
    clear: both;
}
.col-1 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 86%;
    height: calc(15px + 20%);
    margin: auto;
    padding: 2px;
    position: absolute;
}
.col-1 a {
    font-size: calc(20px + 1.1vw);
    font-weight: bold;
}
.main-container {
    padding-top: 100px;
    margin: auto;
    text-align: center;
}
.col-2-left {
    margin: auto;
    width: 35%;
    float: left;
    padding: 10px 5px;   
    text-align: right; 
    align-self: center;
}
@media screen and (max-width: 450px) {
    .col-2-left {
        margin: auto;
        width: 35%;
        float: left;
        padding: 10px 5px;   
        text-align: right; 
        align-self: center;
    }
}
.col-2-right {
    margin: auto;
    width: 50%;
    float: left;
    padding: 10px 5px;   
    text-align: left; 
    align-self: center;
}
@media screen and (max-width: 450px) {
    .col-2-right {
        margin: auto;
        width: 50%;
        float: left;
        padding: 10px 5px;   
        text-align: left; 
        align-self: center;
    }
}
.text-area:after {
    clear: both;
}
#inputtext {
    width: 100%;
}
.within-col-2-right {
    width: 80%;
}
.within-col-2-right button{
    text-align: center;
}
.action-area {
    padding-top: 100px;
}
#translate-btn, #play-audio-btn {
    background-color: #2caf53;
    color: #ffffff;
    border: none;
    padding: 5px;
}
#translate-btn:hover, #play-audio-btn:hover {
    background-color: #318d4d;
}
.col-3 {
    margin: auto;
    width: 33%;
    float: left;
    padding: 0px auto;   
    text-align: center; 
    align-self: center;
}
@media screen and (max-width: 450px) {
    .col-3 {
        margin: auto;
        width: 100%;
        float: left;
        padding: 0px auto;   
        text-align: center; 
        align-self: center;
    }
}
footer {
    height: 80px;
    font-size: calc(15px + 1.1vw); /* 0.8em; */
    background-color: #e6e6e6;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
#footer-container {
    width: 86%;
    height: 80px;
    margin: auto;
    position: relative;
    text-align: center;
}
#footer-container .col-1 a {
    font-size: calc(10px + 1.1vw);
    font-weight: normal;
}